body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 0;
    margin: 0;
    height: 100vh;
  }
.certifications {
    background: url('file:///C:/Users/Asus/Desktop/PrepInsta/Batch-02/images/pexels-leeloothefirst-8177922.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.certifications .container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.certification-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certification-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certification-item img {
    width: 100%;
    border-radius: 10px;
}

.certification-item h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.certification-item p {
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }